# exclude .idea and pycache files
**/.idea
**/.idea/*
**/__pycache__
**/__pycache__/*
**/gsod/oper/.git
**/gsod/oper/.git/*
**/gsod/oper/.gitignore
**/gsod/.git
**/gsod/.git/*
**/gsod/.gitignore
**/static/admin
**/static/admin/*