# exclude .idea and pycache files
**/.idea
**/.idea/*
**/__pycache__
**/__pycache__/*
**/oper/.git
**/oper/.git/*
**/oper/.gitignore
**/gsod/.git
**/gsod/.git/*
**/gsod/.gitignore
**/static/admin
**/static/admin/*