# exclude .idea and pycache files
**/.idea
**/.idea/*
**/__pycache__
**/__pycache__/*
**/gsod/.git
**/gsod/.git/*
**/gsod/.gitignore
**/static/admin
**/static/admin/*
*.sqlite3
*.db
**/posts/*
**/seleniumLog/*