{% include 'partials/header_noaa.html' %}
    <div id="my_title" class="d-flex justify-content-center">
        <h1>Calculate HexGrid with API</h1>
    </div><br>

    <div id="calculate"></div>

    <!-- node.js library: turf.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Turf.js/5.1.6/turf.min.js"></script>
    {% load static %}
    <script src="{% static 'scripts/gsod_scripts/hexagon_grid.js' %}"></script>
    <script src="{% static 'scripts/gsod_scripts/hexgrid_constructor.js' %}"></script>

    <script>
        // variable declarations
        var hexGrid;
        var dataDate = '{{ date_of_data }}';
        var bot_lat = 24;
        var top_lat = 50;
        // var bbox = [-176, 52, -128, 72];                // alaska
        var bbox = [-126, bot_lat, -66.5, top_lat];    // USA
        var cellSide = 15;
        var options = {};
        var levels = 8;

        // when document is ready, make API request
        //$(document).ready(function() {
        function api_request() {
            console.log(dataDate);

            // make the get request
            get_stations("str1", function(data) {
                //console.log("API OUTPUT:\n", data[0].data);
                //console.log("DATA LENGTH:\n", data[0].data.length);
                //console.log(data);
                console.log(JSON.stringify(window.performance.memory, ['totalJSHeapSize', 'usedJSHeapSize', 'jsHeapSizeLimit']));
                firstStartTime = new Date();

                // run it through the HexGridConstructor
                hexGrid = HexGridConstructor(bbox, cellSide, options, data[0].data, levels, bot_lat, top_lat);

                endTime = new Date();
                console.log(JSON.stringify(window.performance.memory, ['totalJSHeapSize', 'usedJSHeapSize', 'jsHeapSizeLimit']));

                seconds = (endTime.getTime() - firstStartTime.getTime()) / 1000;
                console.log("All Completed.\nHexGridConstructor Time Elapsed:" + JSON.stringify(seconds));

                // send this as POST request to save in backend
                post_data(hexGrid);

                text = document.createElement("p");
                text.setAttribute("id", "done");
                document.getElementById("calculate").appendChild(text);
            });
        }

        // make GET request to retrieve all stations
        function get_stations(var1, callback) {

            getURL = "/api/get_all_stations";
            console.log("GET REQUEST:" + getURL + "\n");
            $.ajax({
                url: getURL,
                data: {'dataDate': dataDate},
                success: function(data) {
                    // run callback to return this data
                    //console.log("GET OUTPUT:\n", data[0].data);
                    console.log("GET OUTPUT:\n");
                    callback(data);
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    console.log("Status: " + textStatus);
                    console.log("Error: " + errorThrown);
                    alert("Status: " + textStatus); alert("Error: " + errorThrown);
                }
            });
        }

        // POST request to push the hexGrid to backend
        function post_data(data) {
            postURL = "/api/post_hexgrid";
            console.log("POST" + data.features.length);
            $.ajax({
                type: "POST",
                // USE header for headless browser; but not for Chrome browser
                headers: {
                    'Content-Type': 'application/json'
                },
                url: postURL,
                dataType: 'json',
                data: {
                    'data': JSON.stringify(data),
                    'dataDate': dataDate,
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                processData: false,
                success: function(status) {
                    if (status) {
                        console.log("POST REQUEST COMPLETED!");
                    }
                    else {
                        console.log("POST FAILED!");
                    }
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    alert("Status: " + textStatus); alert("Error: " + errorThrown);
                }
            });
        }

        api_request();
    </script>

{% include 'partials/footer_noaa.html' %}
