{% include 'partials/header_noaa.html' %}
    <div id="my_title" class="d-flex justify-content-center">
        <h1>Highest Daily Temperature in USA</h1>
    </div><br>

    <div class="d-flex justify-content-center">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p>The temperature layer added to this map is made out of general interest. The radius of each
                of the hexagons in the grid is 15 km. With the projection of the map, that radius may differ
                based on the latitude.</p>
            <p>To add temperature gradient, a ring is calculated around each of the weather stations. The
                temperature is adjusted in between weather stations based on a factor of -1 times the number
                of rings away from each station. For ring layers that overlap, the mean of the highest ring
                layer will be used.</p>
            <p>For example, for a particular hexagon, if there are three ring 1 level values and two ring 2
                level values, then the mean is calculated from only the three ring 1 values. This mean value
                is then used as the final temperature for this hexagon.</p>
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="d-flex justify-content-center">
        <div class="col-md-2"></div>
        <div class="col-md-3">
            <select id="data-type-select" class="form-control">
                <option selected value="TMAX">Maximum Temperature °C</option>
                <!--option value="TMIN">Minimum Temperature °C</option>
                <option value="PRCP">Rainfall (mm)</option>
                <option value="SNOW">Snowfall (mm)</option>
                <option value="SNWD">Snow Depth (mm)</option-->
            </select>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <div id="slider-div">
                <label onchange="load_new_hexagon_file()">Date: <span id="dateLabel">{{ start_date }}</span></label>
                <div id="date-slider" class="ui-slider"></div>
            </div>
        </div>
        <div class="col-md-1">
            <div id="loader" class="loader" style="display: none"></div>
        </div>
        <div class="col-md-2"></div>
    </div><br>

    <style>
        .map-overlay {
            position: absolute;
            background: rgba(255, 255, 255, 0.8);
            margin-left: 20px;
            margin-top: 20px;
            font-family: Arial, sans-serif;
            overflow: auto;
            border-radius: 3px;
        }
        #legend {
            padding: 10px;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
            line-height: 18px;
            height: 150px;
            margin-bottom: 40px;
            width: 120px;
        }
        .legend-key {
            display: inline-block;
            border-radius: 20%;
            width: 10px;
            height: 10px;
            margin-right: 5px;
        }
        .legend-value {
            float: right;
        }
    </style>
    <div class="d-flex justify-content-center">
        <div class="row">
            <div id="map" style="width: 1200px; height: 800px;"></div>
            <div class="map-overlay" id="legend"></div>
        </div>
    </div><br>

    <!-- node.js library: turf.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Turf.js/5.1.6/turf.min.js"></script>
    {% load static %}
    <script src="{% static 'scripts/gsod_scripts/mapbox_constructor2.js' %}"></script>
    <script src="{% static 'scripts/gsod_scripts/hexagon_grid.js' %}"></script>
    <script src="{% static 'scripts/gsod_scripts/hexgrid_constructor.js' %}"></script>

    <script>
        // variable declarations

        // mapbox
        var mapbox_token = '{{ mapbox_access_token }}';
        var hexGrid;
        var mapUSA;

        // selectors
        var dataDate = '{{ start_date }}';
        var endDate = '{{ end_date }}';
        var parseTime = d3.timeParse("%Y-%m-%d");
        var formatTime = d3.timeFormat("%Y-%m-%d");
        var default_datatype = 'TMAX';

        // slider
        $("#date-slider").slider({
            max: parseTime(endDate).getTime(),
            min: parseTime(dataDate).getTime(),
            value: parseTime(dataDate).getTime(),
            step: (24 * 60 * 60 * 1000),  // milliseconds in a day
            slide: function(event, ui){
                $("#dateLabel").text(formatTime(new Date(ui.value)));
                /*get_json_data("str1", function(data) {
                    hexGrid = data;
                    //mapUSA.wrangleData();
                });*/
            }
        });

        // when document is ready, make API request
        $(document).ready(function() {

            // make the get request for the JSON file
            get_json_data(dataDate, function(data) {
                hexGrid = data;

                // instantiate MapUSA
                mapUSA = new MapUSA('map', 1200, 800, '_yVariable', '_selDate');
            });
        });

        // make GET request to retrieve all stations
        function get_json_data(dataDate, callback) {

            getURL = "/api/get_hexgrid";

            $.ajax({
                url: getURL,
                data: {'dataDate': dataDate},
                success: function(data) {
                    // run callback to return this data
                    //console.log(data);
                    callback(data);
                }
            });
        }

        // create legend
        var titleDiv = document.createElement('div');
        var titleSpan = document.createElement('span');
        titleSpan.className = 'legend-key';
        titleSpan.innerHTML = 'Temperatures';
        titleSpan.style.marginBottom = "12px";
        titleDiv.appendChild(titleSpan);
        legend.appendChild(titleDiv);

        // legend contents
        layers = [
            "-40 \u00B0C",
            (0.45 * 80 - 40) + " \u00B0C",
            (0.55 * 80 - 40) + " \u00B0C",
            (0.7 * 80 - 40) + " \u00B0C",
            (0.9 * 80 - 40) + " \u00B0C",
            "40 \u00B0C"
        ];
        colours = [
            'rgba(148,0,211,0.5)',
            'rgba(114,212,188,0.5)',
            'rgba(100,255,50,0.5)',
            'rgba(255,255,0,0.5)',
            'rgba(255,0,0,0.5)',
            'rgba(153,0,0,0.5)'
        ];
        for (i = 0; i < layers.length; i++) {
            var layer = layers[i];
            var colour = colours[i];
            var item = document.createElement('div');
            var key = document.createElement('span');
            key.className = 'legend-key';
            key.style.backgroundColor = colour;

            var value = document.createElement('span');
            value.className = 'legend-value';
            value.innerHTML = layer;
            item.appendChild(key);
            item.appendChild(value);
            legend.appendChild(item);
        }

    </script>

{% include 'partials/footer_noaa.html' %}
