{% include 'partials/header_noaa.html' %}
    <div id="my_title" class="d-flex justify-content-center">
        <h1>Hexagon Test</h1>
    </div><br>

    <!-- node.js library: turf.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Turf.js/5.1.6/turf.min.js"></script>

    <script>
        // hexGrid
        var bbox = {{ bbox }};
        var cellSide = {{ cellSide }};
        var options = {};
        hexGrid = turf.hexGrid(bbox, cellSide, options);

        $(document).ready(function() {

            // loop thru and assign the centroids
            var newFeatures = hexGrid.features.map(f => {
                var polygon = turf.polygon([f.geometry.coordinates[0]]);
                var centroid = turf.centroid(polygon);
                // use SPREAD; then assign a new "key-value pair" as well
                return {
                    ...f,
                    "centroid": centroid
                };
            });

            // assign to newHexGrid
            var newHexGrid = {
                "type": "FeatureCollection",
                "features": newFeatures
            };

            // save the hexgrid to file
            post_hexgrid(newHexGrid);
        });

        function post_hexgrid(data) {

            getURL = "/api/post_blank_hexgrid";
            $.ajax({
                url: getURL,
                method: "POST",
                data: {
                    'bbox': JSON.stringify(bbox),
                    'cellSide': cellSide,
                    'hexGrid': JSON.stringify(data)
                },
                success: function(data) {
                    console.log("hexGrid saved");
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    console.log("Status: " + textStatus);
                    console.log("Error: " + errorThrown);
                }
            });
        }
    </script>

{% include 'partials/footer_noaa.html' %}
