{% include 'partials/header_noaa.html' %}
    <div id="my_title" class="d-flex justify-content-center">
        <h1>Contour Test</h1>
    </div><br>

    <div class="d-flex justify-content-center">
        <div class="col-md-2"></div>
        <div class="col-md-3">
            <select id="data-type-select" class="form-control">
                <option selected value="TMAX">Maximum Temperature °C</option>
                <option value="TMIN">Minimum Temperature °C</option>
                <option value="PRCP">Rainfall (mm)</option>
                <option value="SNOW">Snowfall (mm)</option>
                <option value="SNWD">Snow Depth (mm)</option>
            </select>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <div id="slider-div">
                <label>Date: <span id="dateLabel">{{ start_date }}</span></label>
                <div id="date-slider" class="ui-slider"></div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div><br>

    <!--div class="d-flex justify-content-center">
        <div-->
            <canvas id="canvasID" width="400" height="400"></canvas>
            <canvas id="canvasMap" width="400" height="400"></canvas>
            <div id="map" style="width: 1000px; height: 600px;"></div>
        <!--/div>
    </div--><br>

    {% load static %}
    <script src="{% static 'scripts/gsod_scripts/bi.js' %}"></script>
    <script src="{% static 'scripts/gsod_scripts/mapbox_gradientFill.js' %}"></script>
    <script>
        // variables and function declarations
        var stations = {{ stations|safe }};
        var mapbox_token = '{{ mapbox_access_token }}';
        var parseTime = d3.timeParse("%Y-%m-%d");
        var formatTime = d3.timeFormat("%Y-%m-%d");
        var default_datatype = 'TMAX';
        var startDate = '{{ start_date }}';
        var endDate = '{{ end_date }}';
        console.log(startDate, endDate);
        //console.log(stations);
        // update the map based on new variable
        $("#data-type-select").on("change", function() {
            newMap.wrangleData();
        });

        // slider
        $("#date-slider").slider({
            max: parseTime(endDate).getTime(),
            min: parseTime(startDate).getTime(),
            value: parseTime(startDate).getTime(),
            step: (24 * 60 * 60 * 1000),  // milliseconds in a day
            slide: function(event, ui){
                $("#dateLabel").text(formatTime(new Date(ui.value)));
                newMap.wrangleData();
            }
        });

        // re-organize data into mapbox structure
        var structData = stations.filter(function(d) {
            //console.log(date_selected, d.key, typeof(d.key), typeof(date_selected));
            return d.key == startDate;
        })[0]['data'].map(function (x) {
            //console.log(x)
            return {
                type: 'Feature',
                geometry: {
                    type: 'Point',
                    coordinates: x.geometry.coordinates
                },
                properties: {
                    title: x.properties[default_datatype]
                }
            }
        });
        //console.log(structData);

        // updateData
        function updateData(theNewData) {
            return {
                type: 'FeatureCollection',
                features: theNewData
            };
        }

        // Test example
        var canvas = document.getElementById('canvasID');
        var ctx = canvas.getContext('2d');
        var circles = [];
        var radius = 20;

        function Circle(x, y, dx, dy, radius, color) {
            this.x = x;
            this.y = y;
            this.dx = dx;
            this.dy = dy;

            this.radius = radius;

            this.draw = function() {
                ctx.beginPath();
                ctx.arc(this.x, this.y, this.radius, 0, Math.PI * 2, false);
                ctx.strokeStyle = color;
                ctx.stroke();
            };

            this.update = function() {
                if (this.x + this.radius > 400 || this.x - this.radius < 0) {
                    this.dx = -this.dx;
                }

                if (this.y + this.radius > 400 || this.y - this.radius < 0) {
                    this.dy = -this.dy;
                }

                this.x += this.dx;
                this.y += this.dy;

                this.draw();
            };
        }

        for (var i = 0; i < 5; i++) {
            var color =
            '#' +
            (0x1000000 + Math.random() * 0xffffff).toString(16).substr(1, 6);
            var x = Math.random() * (400 - radius * 2) + radius;
            var y = Math.random() * (400 - radius * 2) + radius;

            var dx = (Math.random() - 0.5) * 2;
            var dy = (Math.random() - 0.5) * 2;

            circles.push(new Circle(x, y, dx, dy, radius, color));
        }

        function animate() {
            requestAnimationFrame(animate);
            ctx.clearRect(0, 0, 400, 400);

            for (var r = 0; r < 5; r++) {
                circles[r].update();
            }
        }

        animate();




        // gradient layer
        bi(1000,600,document.getElementById("canvasMap"));
        //gradientEditor(1000,600,document.getElementById("gradientContainer"));

        // declare and call new MapUSA
        var newMap;
        newMap = new MapUSA('#map', 600, 1000, default_datatype, startDate);

    </script>

{% include 'partials/footer_noaa.html' %}