{% include 'partials/header_noaa.html' %}
    <div id="my_title" class="d-flex justify-content-center">
        <h1>Hexagon Test</h1>
    </div><br>

    <!--canvas id="canvasMap" width="800" height="512" style="width: 800px; height: 512px;"></canvas-->
    <div class="d-flex justify-content-center">
        <div id="map" style="width: 1200px; height: 800px;"></div>
    </div>
    <!--canvas id="gradientContainer" width="1000" height="600"></canvas-->

    <!-- node.js library: turf.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Turf.js/5.1.6/turf.min.js"></script>
    {% load static %}
    <!--script src="{% static 'scripts/gsod_scripts/normalize_coordinates.js' %}"></script>
    <script src="{% static 'scripts/gsod_scripts/temp_to_rgb.js' %}"></script>
    <script src="{% static 'scripts/gsod_scripts/bi.js' %}"></script-->
    <script src="{% static 'scripts/gsod_scripts/hexagon_grid.js' %}"></script>

    <script>
        //var mapbox_token = '{{ mapbox_access_token }}';
        /*
            {
                "elevation": 35.7,
                "mindate": "2005-08-01",
                "maxdate": "2009-10-01",
                "latitude": 61.17472,
                "name": "ANCHORAGE ARCTIC AND INTERNATIONAL, AK US",
                "datacoverage": 0.8624,
                "id": "COOP:500272",
                "elevationUnit": "METERS",
                "longitude": -149.905
            },
            {
                "elevation": 4.6,
                "mindate": "2002-08-08",
                "maxdate": "2020-05-28",
                "latitude": 71.3213,
                "name": "UTQIA VIK FORMERLY BARROW 4 ENE, AK US",
                "datacoverage": 1,
                "id": "WBAN:27516",
                "elevationUnit": "METERS",
                "longitude": -156.611
            },
        */

        data = [
            {"geometry": {"coordinates":[-149.905,61.17472]}, "properties": {"title": 22}},
            {"geometry": {"coordinates":[-156.611,71.3213]}, "properties": {"title": -40}}
        ]
        console.log(data);
        jQuery(document).ready(function() {

            //var editor=bi(1000,600,data,document.getElementById("gradientContainer"));

        });

        // perceived radius in km
        var perceived_radius = 1000;
        //var pixel_radius = calculate_radius(perceived_radius, 52)[0];
        //console.log('Pixel Radius', pixel_radius);

        // draw hexagons around the 3 points
        hexagons = []
        hexagonGEO = []
        for (var dat in data) {
            //console.log(data[dat].geometry.coordinates);

            hexagon_coord = hexagon_lat_long.apply(this, [perceived_radius].concat(data[dat].geometry.coordinates));
            //console.log("Hexagon Coordinates:", hexagon_coord);

            // format into geojson format
            geo_format = {
                'type': 'Feature',
                'geometry': {
                    'type': 'Polygon',
                    'coordinates': [
                        hexagon_coord
                    ]
                }
            };
            //console.log("geoJSON", geo_format);
            hexagons.push(hexagon_coord);
            hexagonGEO.push(geo_format);
        }

        hexagonGEO = {
            'type': 'FeatureCollection',
            'features': hexagonGEO
        }
        console.log(hexagonGEO);

        // find intersections of hexagons
        for (var hex in hexagons) {

            poly1 = turf.polygon([hexagons[hex]]);

            hl = hexagons.length - 1
            for (var i=hl; i > hex; i--) {

                // find intersection polygon
                poly2 = turf.polygon([hexagons[i]]);
                poly = turf.intersect(poly1, poly2);
                console.log("intersect?", hex, i, poly);

                // if poly not null, loop thru poly2 lines to see which points falls on a polygon line
                //turf.booleanPointInPolygon(pt, poly);
                [pts, remove_pts] = find_intersect_points(poly.geometry.coordinates[0],
                                    poly1.geometry.coordinates[0], poly2.geometry.coordinates[0]);
                redraw_hexagon(pts, remove_pts, poly1.geometry.coordinates[0]);
                redraw_hexagon(pts, remove_pts, poly2.geometry.coordinates[0]);
            }
        }


        mapboxgl.accessToken = '{{ mapbox_access_token }}';
        var map = new mapboxgl.Map({
            container: 'map',
            zoom: 3,
            minZoom: 3,
            // center: [-100, 36], US center -- roughly
            center: [-149, 63],
            style: 'mapbox://styles/mapbox/streets-v11'
        });

        map.on('load', function() {
            map.addSource('hexagons-draw', {
                type: 'geojson',
                data: hexagonGEO
            });
            map.addLayer({
                id: 'hexagons-draw',
                type: 'fill',
                source: 'hexagons-draw',
                paint: {
                    'fill-color': 'rgb(255, 69, 0)',
                    'fill-opacity': 0.8
                }
            });
        });

    </script>

{% include 'partials/footer_noaa.html' %}
