{% include 'partials/header_noaa.html' %}
    <div id="my_title" class="d-flex justify-content-center">
        <h1>Hexagon Test</h1>
    </div><br>

    <div class="d-flex justify-content-center">
        <canvas id="hexagon" width="1000" height="600"></canvas>
    </div>
    <!--canvas id="gradientContainer" width="1000" height="600"></canvas-->

    {% load static %}
    <!--script src="{% static 'scripts/gsod_scripts/normalize_coordinates.js' %}"></script>
    <script src="{% static 'scripts/gsod_scripts/temp_to_rgb.js' %}"></script>
    <script src="{% static 'scripts/gsod_scripts/bi.js' %}"></script-->
    <script src="{% static 'scripts/gsod_scripts/hexagon_grid.js' %}"></script>

    <script>
        data = [
            {"geometry": {"coordinates":[77,-10]}, "properties": {"title": 22}},
            {"geometry": {"coordinates":[175,30]}, "properties": {"title": -40}},
            {"geometry": {"coordinates":[-20,-20]}, "properties": {"title": 35}},
            {"geometry": {"coordinates":[-150,80]}, "properties": {"title": 2}},
            {"geometry": {"coordinates":[7,-77]}, "properties": {"title": -12}},
            {"geometry": {"coordinates":[22,50]}, "properties": {"title": 28}}
        ]
        jQuery(document).ready(function() {

            //var editor=bi(1000,600,data,document.getElementById("gradientContainer"));

        });

        // values are pixels
        var coordinates = ["hexagon"].concat(single_hexagon(50, 100, 100));
        draw_hexagon.apply(this, coordinates);
        var coordinates = ["hexagon"].concat(single_hexagon(50, 250, 100));
        draw_hexagon.apply(this, coordinates);
        var coordinates = ["hexagon"].concat(single_hexagon(50, 175, 143.3));
        draw_hexagon.apply(this, coordinates);

    </script>

{% include 'partials/footer_noaa.html' %}
