{% include 'partials/header_noaa.html' %}
    <div id="my_title" class="d-flex justify-content-center">
        <h1>MAPBOX TEST</h1>
    </div><br>

    <div class="d-flex justify-content-center">
        <div id="map" style="width: 800px; height: 600px;"></div>
    </div>

    <script>
        mapboxgl.accessToken = '{{ mapbox_access_token }}';
        var map = new mapboxgl.Map({
            container: 'map',
            //style: 'mapbox://styles/mapbox/satellite-streets-v11',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [-113.4938, 53.5461],
            zoom: 10
        });
    </script>
{% include 'partials/footer_noaa.html' %}