{% include 'partials/header_noaa.html' %}
    <div id="my_title" class="d-flex justify-content-center">
        <h1>Hexagon Test with API</h1>
    </div><br>

    <!--canvas id="canvasMap" width="800" height="512" style="width: 800px; height: 512px;"></canvas-->
    <div class="d-flex justify-content-center">
        <div id="map" style="width: 1200px; height: 800px;"></div>
    </div>

    <!-- node.js library: turf.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Turf.js/5.1.6/turf.min.js"></script>
    {% load static %}
    <script src="{% static 'scripts/gsod_scripts/hexagon_grid.js' %}"></script>
    <script src="{% static 'scripts/gsod_scripts/hexgrid_constructor.js' %}"></script>

    <script>
        var data = {{ stations | safe }};
        data = data[0].data;
        //console.log(data);



        // when document is ready, make API request
        $(document).ready(function () {

            // make the get request
            get_stations("str1", function(data) {
                // console.log("API OUTPUT:\n", data);
            });

        });

        // make GET request to retrieve all stations
        function get_stations(var1, callback) {

            getURL = "/api/get_all_stations";

            $.ajax({
                url: getURL,
                //data: {},
                success: function(data) {
                    //console.log("API CALL:\n", data);
                    // $("#results").html(data);  // replace with the values retrieved
                    callback(data);
                }
            });
        }


        // hexGrid
        var bot_lat = 21;
        var top_lat = 50;
        var bbox = [-176, 52, -128, 72];                // alaska
        // var bbox = [-126, bot_lat, -68, top_lat];    // USA
        var cellSide = 30;
        var options = {};
        var levels = 4;

        // run the hexGrid constructor to obtain the data
        hexGrid = HexGridConstructor(bbox, cellSide, options, data, levels);

        //console.log('HEXGRID', hexGrid);
        //console.log('RINGS', rings);

        mapboxgl.accessToken = '{{ mapbox_access_token }}';
        var map = new mapboxgl.Map({
            container: 'map',
            zoom: 3,
            minZoom: 3,
            //center: [-100, 36],     // US center -- roughly
            center: [-149, 63],   // for alaska
            style: 'mapbox://styles/mapbox/streets-v11'
        });

        map.on('load', function() {
            map.addSource('hexagons-draw', {
                type: 'geojson',
                data: hexGrid //hexagonGEO
            });
            map.addLayer({
                id: 'hexagons-draw',
                type: 'fill',
                source: 'hexagons-draw',
                paint: {
                    'fill-color':
                        [
                            'case',
                            [">", ["get", "temperature"], 0],
                            [
                                "interpolate", ["linear"], ["get", "temperature"],
                                    0, 'rgb(148,0,211)',
                                    0.45, 'rgb(114,212,188)',
                                    0.55, 'rgb(100, 255, 50)',
                                    0.7, 'rgb(255, 255, 0)',
                                    0.9, 'rgb(255, 0, 0)',
                                    1, 'rgb(153, 0, 0)'
                            ],
                            'rgb(0, 0, 0)'
                        ],
                    //'fill-opacity': 0.8
                    'fill-opacity':
                        [
                            'case',
                            [">", ["get", "temperature"], 0], 0.3,
                            0,
                        ]
                }
            });
        });

    </script>

{% include 'partials/footer_noaa.html' %}
