{% include 'partials/header_noaa.html' %}
    <div id="my_title" class="d-flex justify-content-center">
        <h1>Hexagon Test with API</h1>
    </div><br>

    <div class="d-flex justify-content-center">
        <!-- button to run API request -->
        <button onclick="api_request()">Click</button>
    </div>

    <div class="d-flex justify-content-center">
        <div id="map" style="width: 1200px; height: 800px;"></div>
    </div>

    <!-- node.js library: turf.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Turf.js/5.1.6/turf.min.js"></script>
    {% load static %}
    <script src="{% static 'scripts/gsod_scripts/hexagon_grid.js' %}"></script>
    <script src="{% static 'scripts/gsod_scripts/hexgrid_constructor.js' %}"></script>

    <script>
        // variable declarations
        var data = {{ stations | safe }};
        var hexGrid;
        var bot_lat = 21;
        var top_lat = 50;
        var bbox = [-176, 52, -128, 72];                // alaska
        // var bbox = [-126, bot_lat, -68, top_lat];    // USA
        var cellSide = 30;
        var options = {};
        var levels = 4;

        // run the hexGrid constructor to obtain the data
        hexGrid = HexGridConstructor(bbox, cellSide, options, data[0].data, levels);


        // when document is ready, make API request
        //$(#get_api).on("click", function () {
        function api_request() {

            // make the get request
            //console.log('GET REQUEST:', bbox, cellSide, options, levels);
            get_stations("str1", function(data) {
                console.log("API OUTPUT:\n", data[0].data);

                bbox = [-126, bot_lat, -68, top_lat];    // USA

                // run it through the HexGridConstructor
                hexGrid = HexGridConstructor(bbox, cellSide, options, data[0].data, levels);

                // refresh the source data
                function sourceRefresh(e) {
                    map.getSource("hexagons-draw").setData(hexGrid);
                };
                sourceRefresh();

            });

        }

        // make GET request to retrieve all stations
        function get_stations(var1, callback) {

            getURL = "/api/get_all_stations";

            $.ajax({
                url: getURL,
                //data: {},
                success: function(data) {
                    // run callback to return this data
                    callback(data);
                }
            });
        }

        mapboxgl.accessToken = '{{ mapbox_access_token }}';
        var map = new mapboxgl.Map({
            container: 'map',
            zoom: 3,
            minZoom: 3,
            //center: [-100, 36],     // US center -- roughly
            center: [-149, 63],   // for alaska
            style: 'mapbox://styles/mapbox/streets-v11'
        });

        map.on('load', function() {
            map.addSource('hexagons-draw', {
                type: 'geojson',
                data: hexGrid //hexagonGEO
            });

            map.addLayer({
                id: 'hexagons-draw',
                type: 'fill',
                source: 'hexagons-draw',
                paint: {
                    'fill-color':
                        [
                            'case',
                            [">", ["get", "temperature"], 0],
                            [
                                "interpolate", ["linear"], ["get", "temperature"],
                                    0, 'rgb(148,0,211)',
                                    0.45, 'rgb(114,212,188)',
                                    0.55, 'rgb(100, 255, 50)',
                                    0.7, 'rgb(255, 255, 0)',
                                    0.9, 'rgb(255, 0, 0)',
                                    1, 'rgb(153, 0, 0)'
                            ],
                            'rgb(0, 0, 0)'
                        ],
                    //'fill-opacity': 0.8
                    'fill-opacity':
                        [
                            'case',
                            [">", ["get", "temperature"], 0], 0.3,
                            0,
                        ]
                }
            });
        });

    </script>

{% include 'partials/footer_noaa.html' %}
